@media screen and (max-width: 755px) {
    #aboutus, .banners {
        display: flex;
        flex-flow: column wrap;
    }

    .about__image {

        padding-top: 25px;
        padding-bottom: 25px;
      
    }
    #aboutus, img {

        border-radius: 2%;
        vertical-align: baseline;
      
    }

    

}

#aboutus, .banners {
    display: flex;
    flex-direction: row;
    padding-top: 45px;
    padding-bottom: 45px;
    justify-content: space-around;
  
}

.about__image{
    position: relative;
    
}

.about__text-content{
  
    
}


#aboutus, img {

    border-radius: 2%;
    vertical-align: baseline;
  
}

#aboutus, div {
 
    padding-left: 15px;
    padding-right: 15px;
}

.text-content-list {
    display: flex;   
    align-items: flex-start;
    
    
}