.about-machine-wrap{
  display: flex;
}

.icon-wrap{
    position: relative;
    align-items: center;
    text-align: center;
    display: flex;
}

.menu-contact__icon::before {
    content: "";
    position: absolute;
    left: 20px;
    display: block;
  }

  .about-machine-img{
    width: 100%;
    height: 100%;
  }
