.icon-wrap{
    position: relative;
    align-items: center;
    text-align: center;
    display: flex;
    list-style: none;
}

.menu-contact__icon::before {
    content: "";
    position: absolute;
    left: 20px;
    display: block;
    /* background: var(--blue); */
  }

  .about-machine-img{
    width: 300px;
    height: auto;
  }

  /* .menu-list__link--current::before{
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    bottom: 0;
    display: block;
    background: var(--blue);
    border-radius: 2px;
  } */