@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@500;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --font-primary: 'Roboto', sans-serif;
    --font-secondary: 'Poppins', sans-serif;

    --cl-brand: #C00407;
    --cl-dark-header: #222222;
    --cl-dark-maintext: #656565;
    --cl-dark-accent: #8C8C8C;
    --cl-light: #ffffff;

    --cl-dark: #000000;
    --cl-red: #d41443;
    --cl-pink: #ffa5ba;


    --bg-light: #ffffff;
    --bg-pink: #ffb8ca;
    --bg-lightpink: #fff5f6;
    --bg-red: #d41443;
    --bg-hover: #ecebeb;
    --bg-modal: #e17992;
    --bg-grey: #fafafa;
    --bg-border: #E1E1E1;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-primary);
    font-size: 14px;
    letter-spacing: 0.04em;
    border: 1px solid red;
}

.link {
    text-decoration: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    font-family: var(--font-primary);
    font-size: 16px;
    color: var(--cl-dark-accent);
}

h1 {
    font-family: var(--font-secondary);
    color: var(--cl-dark-header);
    font-size: 34px;
    
}

h2 {
    font-family: var(--font-primary);
    font-size: 12px;
    text-transform: uppercase;
    color: var(--cl-brand);
}


h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

ul,
ol {
    padding: 0;
    margin: 0;
}

button {
    cursor: pointer;
}

img {

 
}

.container {
    max-width: 1400px;
    margin: auto;
}