@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
margin: 0;
padding: 0;
}

:root {
    
    --font-primary: 'DM Sans', sans-serif;
    --font-secondary: 'Titan One', cursive;
  
    
    --cl-light: #ffffff;
    --cl-dark: #000000;
    --cl-red: #d41443;
    --cl-pink: #ffa5ba;
  
    
    --bg-light: #ffffff;
    --bg-pink: #ffb8ca;
    --bg-lightpink: #fff5f6;
    --bg-red: #d41443;
    --bg-hover: #ecebeb;
    --bg-modal: #e17992;
    --bg-grey: #fafafa;
    --bg-border: #E1E1E1;
  }

  html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-primary);
    font-size: 14px;
    letter-spacing: 0.04em;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

a {
    text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

ul,
ol {
    padding: 0;
    margin: 0;
}

button {
    cursor: pointer;
}

img {
    display: block;
    height: auto;
}
