.contacts {
    padding: 90px 15px;
}

.contacts__titles {
    margin-top: 50px;
}

.contacts__name {
    color: var(--cl-brand);
    font-family: var(--font-primary);
    font-size: 12px;
}

.contacts__title {
    display: block;
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 34px;
    font-family: var(--font-secondary);
    text-align: left;
    text-transform: capitalize;
    line-height: 40.8px;
    color: var(--cl-dark-header);
}

.background__contacts {
    background: #FFFFFF;
}

.form-contacts {
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 320px;
}