.contacts {
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: var(--bg-grey);
}

.contact-us {
    position: relative;
    font-size: 16px;
    display: flex;
}

.contacts__titles {
    padding: 0px 0px 0px 10px;
}

.contacts__name {
    color: var(--cl-brand);
    font-family: var(--font-primary);
    text-transform: uppercase;
    font-size: 12px;
    padding: 0;
    text-align: left;
}

.contacts__title {
    display: block;
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 34px;
    font-family: var(--font-secondary);
    text-align: left;
    text-transform: capitalize;
    line-height: 40.8px;
    color: var(--cl-dark-header);
}

.contact-us-list {
    margin-top: 25px;
}

.collection {
    position: relative;
}

.contacts__list {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    vertical-align: baseline;
}

.info-list {
    margin-bottom: 16px;
    margin-top: 5px;
}

.info-text {
    display: block;
    font-family: var(--font-primary);
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    text-transform: none;
    max-width: 100%;
    word-wrap: break-word;
    vertical-align: baseline;
}

.background__contacts {
    background: #FFFFFF;
}

.form-contacts {
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 320px;
}

.form__contacts {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 90px 0px 100px 0px;
    
}

.form__info__contacts {
    word-wrap: break-word;
    padding: 20px 0px 0px 0px;
}

.form__info__button {
    position: absolute;
    color: #fff;
    background-color: #c00407;
}