.cover {
    background-color: #333333;
    background-image: url("../img/rental-photo.png");
    width: 100%;
    height: max-content;
    padding-top: 235px;
    padding-bottom: 195px;
    box-sizing: border-box;
}

.cover__p-rental {
    color: rgb(223,223,223);
    font-weight: bold;
}

.cover__button {
    background-color: #c00407;
    display: inline-block;
    color: var(--cl-light);
    font-size: 16px;
    padding: 15px 23px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

.cover__title {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 63px;
    color: var(--cl-light);
}

.font-color-red {
    color: #c00407;
}