.cover {
    background-image: url("../img/rental-photo.png");
    background-size: cover;
    background-position: 50% 50%;
    min-height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 235px;
    padding-bottom: 195px;
}

.cover__content {
    padding: 0px 40px;
}

.cover__p-rental {
    color: #dfdfdf;
    font-weight: bold;
}

.cover__p {
    color: #dfdfdf;
}

.cover__button {
    background-color: var(--cl-brand);
    display: inline-block;
    color: var(--cl-light);
    font-size: 16px;
    padding: 15px 23px;
    font-family: var(--font-primary);
    font-weight: bold;
}
.cover__button:hover {
    background-color: var(--cl-dark-header);
}

.cover__title {
    font-family: var(--font-secondary);
    font-weight: bold;
    font-size: 48px;
    color: var(--cl-light);
}

.font-color-red {
    font-size: 48px;
    color: var(--cl-brand);
}

@media (min-width: 765px) {
    .cover__background {
        width: 1200px;
        margin: auto;
        justify-content: flex-start;
    }

    .cover__title {
        font-size: 63px;
    }
    .font-color-red {
        font-size: 63px;
    }
}