.cta-small {
    background-color: var(--cl-brand);
}

.cta-small__title {
    color: var(--cl-light);
    text-transform: capitalize;
    font-size: 24px;
    font-family: var(--font-secondary);
}

.cta-small__subtitle {
    color: var(--cl-light);
    font-size: 14px;
    font-weight: 400;
}

.white-black {
    color: var(--cl-dark-header);
    padding: 16px 25px;
    background-color: var(--cl-light);
    text-decoration: none;
    font-weight: 700;
    border: 3px solid var(--cl-light);
}

.white-black:hover {
    color: var(--cl-light);
    background-color: var(--cl-dark-header);
    border: 3px solid var(--cl-dark-header);
}

.red-white {
    color: var(--cl-light);
    padding: 16px 25px;
    text-decoration: none;
    font-weight: 700;
    background-color: var(--cl-brand);
    border: 3px solid var(--cl-light);
}

.red-white:hover {
    color: var(--cl-dark-header);
    background-color: var(--cl-light);
}