
.machines-box {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 115px 24px 120px 24px;
}

@media (min-width: 800px) {
    .machines-box {
        padding: 115px 0px 120px 0px;
    }
}

.machines-box-header {
    
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: var(--cl-brand);
}

.machines-box-title {
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    color: #222;
    font-size: 24px;
    padding: 0px 15px 0px 15px;
    line-height: 1.2;
    margin-top: 20px;
}

@media (min-width: 800px) {
    .machines-box-title {
        font-size: 35px;
        padding: 0px 200px 0px 200px;
    }
}

.machines-box-text {
    font-family: 'Roboto' , sans-serif;
    color: rgb(101,101,101);
    font-size: 18px;
    line-height: 1.5;
    margin-top: 20px;
}

@media (min-width: 800px) {
    .machines-box-text {
        font-size: 20px;
    }
}

.machines-box-img {
    display: block;
    width: 100%;
    max-width: 233px;
    max-height: 233px;
    margin: auto;
}

.machines-box-name {
    color: #222;
    display: inline-block;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    margin-top: 24px;
    color: inherit;
    text-decoration: none;
}

.machines-box-price {
    color: var(--cl-brand);
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-top: 44px;
    margin-bottom: 24px;
}

.carousel {
    display: flex;
    justify-content: center;
}

.prev {
    font-size: 36px;
    color: red;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.next {
    font-size: 36px;
    color: red;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.slides-container {
    display: flex;
    }

.machines-box-cart {
    font-family: 'Roboto' , sans-serif;
    font-weight: 700;
    font-size: 15px;
    padding: 16px 25px;
    border-radius: 2px;
    color: white;
    background-color: var(--cl-brand);
    text-decoration: none;
    cursor: pointer;
}

.machines-box-cart:hover {
    background-color: black;
}

