.faq {
    padding: 90px 0;
}

.faq__image {
    width: 100%;
    max-width: 570px;
}

.faq__name {
    color: var(--cl-brand);
    font-family: var(--font-primary);
    font-size: 12px;
}

.faq__title {
    font-size: 34px;
    font-family: var(--font-secondary);
    text-transform: capitalize;
    line-height: 40.8px;
    color: var(--cl-dark-header);
}

.faq__subtitle {
    color: var(--cl-dark-maintext);
    font-family: var(--font-primary);
    font-size: 18px;
    line-height: 27px;
}

.faq-question {
    color: var(--cl-dark-header);
    font-family: var(--font-primary);
    font-size: 18px;
    font-weight: 500;
    line-height: 25.2px;
}

.faq-answer {
    color: var(--cl-dark-accent);
    font-family: var(--font-primary);
    font-size: 16px;
    line-height: 25.6px;
}