.faq {
    padding: 90px 15px;
    max-width: 1200px;
    margin: auto;
}

.faq__image {
    width: 100%;
    border-radius: 6px;
}

.faq__titles {
    margin-top: 50px;
}

.faq__name {
    color: var(--cl-brand);
    font-family: var(--font-primary);
    font-size: 12px;
}

.faq__title {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 34px;
    font-family: var(--font-secondary);
    text-transform: capitalize;
    line-height: 40.8px;
    color: var(--cl-dark-header);
}

.faq__subtitle {
    margin-top: 15px;
    color: var(--cl-dark-maintext);
    font-family: var(--font-primary);
    font-size: 18px;
    line-height: 27px;
}

.faq-question-text {
    color: var(--cl-dark-header);
    font-family: var(--font-primary);
    font-size: 18px;
    font-weight: 500;
    line-height: 25.2px;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.faq-icon {
    /* display: block; */
    height: 15px;
    width: 15px;
    position: relative;
    margin-left: 40px;
}

.faq-icon-horizontal {
    height: 2px;
    width: 15px;
    background-color: var(--cl-dark-header);
    position: absolute;
    top: 6.5px;
}

.faq-icon-vertical {
    display: flex;
    justify-content: center;
    height: 15px;
    width: 2px;
    background-color: var(--cl-dark-header);
    position: absolute;
    left: 6.5px;
    top: 0;
    transition: 0.3s ease-in-out;
    display: flex;
    justify-content: center;
}

.faq-answer {
    color: var(--cl-dark-accent);
    font-family: var(--font-primary);
    font-size: 16px;
    line-height: 25.6px;
    display: block;
    max-height: 0;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}

.accordeon {
    margin-top: 25px;
}

.faq__text-content {
    padding-left: 20px;
    padding-right: 20px;
}

.faq-button {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid 1px var(--bg-border);
}

@media (min-width: 768px) {
    .faq {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .faq__titles {
        margin-top: 0;
    }
}