.footer__section {
    /*display: flex;*/
    background-color: #222;
}

.footer__icon {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
}

.footer__navigation p {
    color: rgb(255, 255, 255);
    display: flex;
    margin-top: 50px;
}

.footer__shop p {
    color: rgb(255, 255, 255);
    display: flex;
    margin-top: 50px;
}

.footer__contact-form p {
    color: rgb(255, 255, 255);
    display: flex;
}