.contacts-header {
    display: flex;
    justify-content: space-between;
    padding: 5px 40px;
    background-color: var(--bg-hover);
}

.contacts-header__location {
    display: flex;
    align-items: center;
}

.contacts-header__phone {
    display: flex;
    align-items: center;
}

.main-header {
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
    align-items: center;
}

.main-header__navigation {
    padding: 10px;
    font-weight: bold;
}

.navigation__item {
    color: rgb(101, 101, 101);
    font-size: 14px;
    margin: 15px;
    font-family: 'Roboto', sans-serif;
}

.contacts-header__p {
    color: var(--cl-dark-header);
    font-size: 14px;
    font-weight: bold;
}