.pricing {
    display: flex;
    padding: 60px 0;
    flex-direction: column;
    line-height: 1.5;
    max-width: 1200px;
    margin: auto;
    justify-content: center;
}
.container__pricing {
    display: flex;
    padding: 60px 0;
    flex-direction: column;
    line-height: 1.5;
    max-width: 1200px;
    margin: auto;
    justify-content: center;
}
.pricing__icon {
}
.pricing__item {
    display: flex;
    box-shadow: 0px 0px 10px var(--bg-border);
    margin: 15px 15px;
    padding: 30px;
    box-sizing: border-box;
}

.pricing__number {
    color:var (--cl-brand);
    font-size: 32px;
    font-weight: 900;
}

.pricing__text {
    text-transform: uppercase;
}
.pricing__subtext:before {
    content: "";
    display:inline-block;
    width: 15px;
    height: 2px;
    margin: 5px;

    background-color: var(--cl-brand);
}
.pricing__subtext{

}
.pricing__button {
    font-family: 'Roboto' , sans-serif;
    font-weight: 500;
    font-size: 15px;
    padding: 16px 25px;
    border-radius: 2px;
    color: var(--cl-light);
    background-color: var(--cl-dark-header);
    text-decoration: none;
    cursor: pointer;

    border: 0;
    line-height: 1.1;
    text-transform: uppercase;
    transition: background .2s linear;
}
.pricing__button :hover {
    background-color: var(--cl-brand);
}
.pricing__button :focus {
    outline: none;
}

