.pricing__icon {
    text-align: center;
}
.pricing_item {
    display:flex;
}

.pricing_number {
    font-weight: bold;
    color:var (--cl-brand);
}

.pricing_text {

}
.pricing__subtext:before {

}
.pricing__button {
    font-family: 'Roboto' , sans-serif;
    font-weight: 700;
    font-size: 15px;
    padding: 16px 25px;
    border-radius: 2px;
    color: white;
    background-color: var(--cl-dark-header);
    text-decoration: none;
    cursor: pointer;
}
.pricing__button :hover {
    
}
