.questions__box {
    background-color: #f0e7de;
}
.content__questions {
    text-align: left;
    padding: 130px 30px 70px 30px;
    margin-top: 35px;
}
.header__questions {
    font-family: var(--font-secondary);
    font-size: 48px;
    color: var(--cl-dark-header);
    font-weight: 700;
    margin-top: 20px;
    line-height: 52.8px;
}
.header__questions-accent {
    color: var(--cl-brand);
}
.text__questions {
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    margin-top: 35px;
}
.questions__buttons--box {
    display: block;
    width: 278.953px;
    line-height: 25.6px;
    margin: -10px -10px -10px 0;
}
.faq__button {
    display: inline-block;
    font-family: var(--font-primary);
    font-size: 15px;
    font-weight: bold;
    line-height: 15px;
    color: var(--cl-light);
    background-color: var(--cl-brand);
    width: 83.1094px;
    border: var(--cl-brand);
    margin-right: 10px;
    padding: 13px 25px 13px 25px;
    border-style: solid;
    border-top-width: 3px;
    border-right-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 3px;
    border-radius: 2px;
    margin-top: 35px;
}

.faq__button:hover {
    background-color: var(--cl-dark-header);
    border: var(--cl-dark-header);
}

.ask__button {
    display: inline;
    font-family: var(--font-primary);
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
    color: var(--cl-dark-header);
    background-color: #f0e7de;
    width: 157.844px;
    border-color: var(--cl-dark-header);
    margin-left: 10px;
    padding: 13px 25px 13px 25px;
    border-style: solid;
    border-top-width: 3px;
    border-right-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 3px;
    border-radius: 2px;
}

.ask__button:hover {
    background-color: var(--cl-dark-header);
}


@media (min-width:768px) {
    .questions__box {
        display: flex;        
    }
    .content__questions {
        width: 50%;
    }
    .picture__questions img {
        object-fit: cover;
        object-position: 41.211% 12.053%;
        overflow: hidden;
        height: 784.375px;
        width: 375.5px;
    }
    .header__questions {
        font-size: 63px;
        margin-top: 30px;
        line-height: 69.3px;
    }
}

@media (min-width:992px) {
.header__questions {
    font-size: 68px;
    line-height: 74.8px;
}
.picture__questions img{
    height: 871.375px;
    width: 487.5px;
}
}
@media (min-width:1280px) {
      .picture__questions img{
        height: 694.781px;
        width: 640px;
    }
    .content__questions {
        margin-top: 0px;
    }
}    