.services {
    display: block;
    padding-top: 55px;
    padding-bottom: 60px;
    min-width: 320px;
    position: relative;
}
.services__content {
    padding-left: 24px;
    padding-right: 24px;
}
.services__header--box {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.services__name {
    display: block;
    font-size: 12px;
    text-align: center;
}
.header__services {
    display: block;
    font-family: var(--font-secondary);
    font-size: 34px;
    font-weight: 700;
    color: var(--cl-dark-header);
    position: relative;
    text-align: center;
    margin-top: 20px;
    line-height: 40.8px;    
}

.text__services {
    display: block;
    margin-top: 15px;
    position: relative;
    text-align: center;
    line-height: 27px;
    font-size: 18px;
    font-weight: 400;
    color: var(--cl-dark-maintext);
}
.nav__services {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: -15px;
    margin-bottom: 30px;
}
.menu__item--services {
    padding: 15px 20px 15px 20px;
    position: relative;
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 700;
    line-height: 25.6px;
    color: var(--cl-dark-accent);
}
.menu__item--services:hover {
    color: var(--cl-dark-header);
}
.services__img {
    display: block;
    position: relative;
    height: 221.547px;
    width: 327px;
    object-fit: cover;
    overflow-y: hidden;
    overflow-x: hidden;
    object-position: 4.274% 0%;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}
.services__cards {
    margin-top: 45px;
}
.rentalservices,
.consulting,
.accessories,
.repair {
box-sizing: border-box;
border-radius: 8px;
box-shadow: 0 5px 11.2px 2.8px rgba(136,140,133,.12);
}
.services__card--text {
    padding: 39px 39px 0 39px;
}

.services__card-name {
    display: block;
    font-family: var(--font-secondary);
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
    color: var(--cl-dark-header);
}
.services__divider {
    padding-top: 15px;
    padding-bottom: 15px;
}
.divider__component {
    height:2px;
    width:11%;
    background-color: var(--cl-brand);
}
.services__description {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    color: #515151;
    font-weight: 400;
    font-size: 16px;
    line-height: 25.6px;
    letter-spacing: normal;
}

.services__list {
    margin-top: 20px;
    margin-left: 0;
    padding-right: 39px;
    position: relative;;
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    color: var(--cl-dark-accent);
    padding-inline-start: 40px;
}

.services__list--block {
    display: flex;
    margin-bottom: 16px;     
}
.services__icon {
    height: 24px;
    width: 20px;
}
.list__item--services {
    display: block;
    padding: 0;
    letter-spacing: normal;
    max-width: calc(100%-30px);
    margin-left: 10px;
}

.flex {
    display: flex;
}

.none {
    display: none;
}

@media (min-width: 768px) {
    .services__header--box {
        margin-left: 16.6667%;
        padding-left: 15px;
        padding-right: 15px;
        max-width: 66.6667%;
        letter-spacing: normal;
    }
    .header__services {
        margin-top: 30px;
        font-size: 37px;
        letter-spacing: normal;
        line-height: 44.4px;
    }
    .services__content {
        margin-top: 60px;
        padding-left: 32px;
        padding-right: 32px;
    }
    .nav__services {
        display: inline-flex;
        position: relative;
        min-width: 100%;
        justify-content: center;
    }
    .rentalservices,
    .consulting,
    .accessories,
    .repair {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .services__img {
        object-fit: cover;
        object-position: 4.274% 0%;
        display: flex;
        height: 782.062px;
        width: 352px;
    }
    .services__card--text {
        padding: 46px 46px 0px 46px;
    }
    .services__card-name {
        font-size: 22px;
        line-height: 33px;
        letter-spacing: normal;
    }
    .services__list {
        margin-top: 30px;
        vertical-align: middle;
    }
} 
@media (min-width: 992px) {
    .services {
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 0;
    }
    .header__services {
        font-size: 40px;
        line-height: 48px;
    }
    .text__services {
        padding: 0;
    }
    .services__img {
        height: 707.688px;
        width: 447.5px;
    }
    .services__card--text {
        padding-left: 60px;
        padding-top: 60px;
        padding-right: 60px;
    }
    .services__list {
        padding-left: 60px;
        padding-right: 55px;
    }
}
@media (min-width: 1240px) {
    .services__img {
        height: 100%;
        width: 100%;
        object-position: 4.274% 0%;
    }
}
