@media screen and (max-width: 755px) { 
    .steps {
        display: flex;
        flex-flow: column wrap;
        
    }
}

.steps {
    display: flex;
    flex-wrap: wrap;
    
}

.steps > img {
    
}


.steps__Item {
    padding: 10px;
    margin: 10px;
    width: 25%;
}