.cta-small {
    display: flex;
    height: 163.8px;
    align-items: center;
    background-color: #c00407;
}

.cta-small__title {
    display: block;
    margin-left: 30px;
    padding-right: 100px;
    color: white;
    position: absolute;
}

.cta-small__buttons {
    display: block;
    padding-right: 100px;
}