.aroma-cup{
    width: 100%;
    display: block;
}

.figure-wrap{
    max-width: 1300px;
}

.taste-picture img {
    width: 70px;
    height: 70px;
}

.coffee-taste{
    padding-top: 55px;
    padding-bottom: 55px;
    padding-left: 55px;
    padding-right: 55px;
}

.coffee-taste>p {
    color: #c00407;
    font-size: 12px;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

.coffee-taste h1 {
    color: #222;
    font-size: 40px;
    margin: 30px 0 10px 0;
    font-family: "Poppins", sans-serif;
}

.coffee-taste h2 {
    color: #656565;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    line-height: 27px;
    font-weight: 400;
}

.coffee-taste h3 {
    color: #8c8c8c;
    font-size: 16px;
    margin: 30px 0 30px 0;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    line-height: 25.6px;
}

.taste {
    display: flex;
    align-items: center;
    /* margin: 10px; */
}

.description {
    padding-left: 10px;
}

.description h1 {
    color: #222;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-align: auto;
    margin-bottom: 0;
}

.description p {
    color: #8c8c8c;
    font: size 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 27px;
    text-align: auto;
}