.testimonials__name {
    color: var(--cl-brand);
}

.testimonials__title {
    color: var(--cl-dark-header);
}

.testimonials__subtitle {
    color: var(--cl-dark-maintext);
}

.client-name {
    color: var(--cl-brand);
    font-size: 18px;
}

.feedback {
    color: var(--cl-dark-accent);
}

.feedback-date {
    color: var(--cl-dark-header);
}