.bg__table {
    position: relative;
    background-size: 100%;
    background: var(--cl-dark-header) url(../img/bg-table.jpg) no-repeat  center /cover;
    background: linear-gradient( rgba(0,0,0,0.7), rgba(0,0,0,0.6) ), url(../img/bg-table.jpg);
    background-attachment: fixed;
    padding: 195px 0px 200px;
    z-index: 100;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
}
.video__container {
    display: grid;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
    

}

.video__href {
    padding: 0px 240px;
    font-family: var(--font-primary);
    font-size: 12px;
    text-transform: uppercase;
    color: var(--cl-brand);
}

 .video__text {
    color: #fff;
    font-family: var(--font-secondary);
    font-size: 68px;
    font-weight: 700;
    margin: 0px 240px;
    display: flex;
 }

 .video__play {
    padding-left: 100px;
    display: flex;
    
 }

 .video__icon-play {
    width: 70px;
    height: auto;
 }
 
 .video__text-link {
    color: #fff;
    font-size: 18px;
    margin: 10px;
 }
 @media(min-width: 769px) {
   .video__play {
      display: grid;
   }

   .video__container {
      display: grid;
   }
 }