.why-choose-us {
   display: flex; 
}
.why-choose-us__icon {
   justify-content: center;
   width: 20px;
   height: auto;
}
.why-choose-us__number {
   font-size: 32px;
   font-weight: 900;
   color:var (--cl-light);
}