.why-us-wrap{
    display: flex;
    padding: 0, 40px;
}

.why-us .container{
    padding-left: 40px;
    padding-right: 40px;
}
.content-left{
    width: 50%;
    padding: 0 0px;
}

.content-right{
    width: 50%;
    padding: 0 40px;
}

.why-us-main-title{
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 30px;
}

.why-us-img{
    width: 100%;
    height: 100%;
}

.content-conteiner{
    position: relative;
}

.why-us-wrap-icon::after {
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    left: -50px;
    top: 10px;
    display: block;
    background-color: brown;
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }

  .why-us-title{
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .why-us-span-text{
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 30px;
  }