.why-choose-us {
   display: flex; 
   flex-wrap: wrap;
   color: #ffff;
}
.why-choose-us__item-first{
   background-color: var(--cl-brand);
}
.why-choose-us__item-second{
   background-color: var(--cl-brand);
}
.why-choose-us__item-third{
   background-color: var(--cl-brand);
}
.why-choose-us__item-fourth{
   background-color: var(--cl-brand);
}
.why-choose-us__icon {
   justify-content: center;
   width: 20px;
   height: auto;
   color: #ffff;
}
.why-choose-us__number {
   font-size: 32px;
   font-weight: 900;
   color:var (--cl-light);
}

.why-choose-us__content {
   padding: 50px 40px 60px 15px;

    justify-content: space-between;
    row-gap: 30px;
    column-gap: 30px;
}
.why-choose-us__text {
   box-sizing: border-box;

}

@media (min-width: 770px) {
   .why-choose-us__items {
      display: flex;
      flex-wrap: wrap;
      max-width: 75%;
      padding: 0px 15px;
   }

   .why-choose-us__icon {
       width: 40px;
       height: 40px;
   }
}

@media (min-width: 990px) {
   .why-choose-us__items {
      max-width: 100%;
   }
}

@media (max-width: 769px) {
   .pricing__icon {
       width: 26px;
       height: 26px;
   }
}
